# Ignore node_modules
node_modules/

# Ignore logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
.env

# Ignore build outputs
public/build/
dist/
out/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
*.iml
